@using Microsoft.AspNet.Identity    
@{ 

    string user = "123456789"; //HttpContext.Current.Request.Cookies["user"].Value;
    var aux = Request.Cookies["user"];
    if ( aux != null)
    {

        user = Request.Cookies["user"].Value;
    }
    /*/var user = "123456789";
    try
    {
        user = Request.Cookies["user"].Value.ToString();
        ;
    }catch(Exception ex)
    {

    }
    /*/
    }





@if (user != "123456789")
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.Encode(User.Identity.Name)
             @Html.ActionLink("¡Hola " + Request.Cookies["user"].Value + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesion</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
